header{background-color: #264653;
       margin-bottom: 16px;}



.grayscale-1{
    filter: grayscale(100%);
}

.grayscale-2{
    filter:opacity(80%);
}

/* contact section backround  */
.contact-section{background-color:rgb(43, 41, 58) ;}


               

               

